@import '/src/styles/variables/';
@import '/src/styles/mixins/';


.container {
    position: fixed;
    left: 1rem;

    border-radius: 100px;
    background-color: getColor("background-secondary");
    color: getColor("text-secondary");
    font-family: getTypography("thin");
    padding: 1em;
    min-width: 10rem;

    @include viewport-wide-up-to (getViewport("small")) {
        top: 7.5rem;
    }

    @include viewport-wide-start-from (getViewport("small"), false) {
        top: 10rem;
    }

    @include viewport-wide-start-from (getViewport("medium"), false) {
        top: 6rem;
    }
}